@charset "UTF-8";
.startsida{
background-image: url("bilder/bakgrund.jpg");
background-size: cover;

}



.lista > li  /* Fixar en horisontell lista */
{
display: inline;
list-style-type: none;
padding-right: 20px;
text-align:center;
} /* Detta tar bort understräcken i länkarna */
.lista  a:link,
.lista  a:visited 
{
	text-decoration: none;
}
.subpage,
.startsida
{
text-align:center;

}
.subpage{ /* Denna fixar gräsen hur "stor" lådan är */

margin:auto;
background-color:#87CEFA;
width:752px;




}
.subpage  article { /* Fixar texten så att den inte är centrerad */ 
text-align:left;
}
/* Twitter flödet längst upp till höger */
.twitter-timeline
{
position:fixed;
top:30px;
right:5px;
max-width:100px;
}
.twitter{
position:fixed;
top:40px;
right:20px;
max-width:200px;
} 
/* Slut på twitter flödet */
.chat{
position:fixed;
top:40px;
left: 30px;

}
#slider{
posistion:relative;
margin:auto;
margin-top:100px;
width:700px;
height:380px;

}
.nav nav{
margin-top:25px;
font-size:130%;
width:720px;
margin:auto;
font-family: 'Cabin Condensed', sans-serif;

}

.mainbody {


padding-bottom:2em;
padding-right:1em;
padding-left:1em;
min-height:1200px;
width:720px;
background-color:white;

}


.h
{
background-color: rgba( 0,0,0,0.5);
max-width:1000px;
margin:auto;
height:1000px;


}
/* Fixat stil på menyn */
.subpage ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	
	
}

.subpage li {
    float:right;
	border-bottom: 2px solid #87CEFA;
	border-top: 5px solid #87CEFA;
}

.subpage  a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #87CEFA;
    background-color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
	
}

.subpage  a:hover, a:active {
  
}
.subpage  #current{
 color:white;
 background-color:#87CEFA;
}
/* slut på stil på menyn */
footer
{
border-top: 5px solid black;

}
.om-oss 
{
padding-top:100px;
color: white;
text-align:left;
padding-left:10px;
padding-right:10px;

}
.vi 
{
color:white;
background-color:black;
}


