.startsida{
background-image: url("bilder/bakgrund.jpg");
background-size: cover;
}


.lista > li  /* Fixar en horisontell lista */
{
display: inline;
list-style-type: none;
padding-right: 20px;
text-align:center;
} /* Detta tar bort understräcken i länkarna */
.lista  a:link,
.lista  a:visited 
{
	text-decoration: none;
}
.subpage,
.startsida
{
text-align:center;

}
.subpage{ /* Denna fixar gräsen hur "stor" lådan är */
max-width:700px;
margin:auto;

}
.subpage  article { /* Fixar texten så att den inte är centrerad */ 
text-align:left;
}
