.startsida{
background-image: url("bilder/bakgrund.jpg");
background-size: cover;
}
.lista > li  /* Fixar en horisontell lista */
{
display: inline;
list-style-type: none;
padding-right: 20px;
text-align:center;
}
.subpage
{
text-align:center;

}